<h1><%= @student.first_name %> <%= @student.last_name %></h1>
<img src="<%= @student.photo %>">
<h3>Email: <%= @student.email %></h3>
<h3>Phone: <%= @student.phone_number %></h3>
<br><br>
<h4>Bio</h4>
<p><%= @student.bio %></p>
<h4>Contact Info</h4>
<p><%= @student.linkedin_url %></p>
<p><%= @student.blog_url %></p>
<p><%= @student.resume_url %></p>
<p><%= @student.github_url %></p>
<p><%= @student.twitter_handle %></p>

<h4>Twitter Feed</h4>
<% @last_tweets.each do |tweet| %></p>
  <p>@<%= @handle.screen_name %> - <%= tweet.text %></p>
<% end %>