<h2><%= @student.first_name %> <%= @student.last_name %></h2>
<h3><%= @student.email %></h3>
<h3><%= @student.phone_number %></h3>
<h3><%= @student.bio %></h3>
<h3><%= @student.linkedin_url %></h3>
<h3><%= @student.twitter_handle %></h3>
<h3><%= @student.blog_url %></h3>
<h3><%= @student.resume_url %></h3>
<h3><%= @student.github_url %></h3>
<h3><%= @student.photo %></h3>
